$break-small: 600px;
$break-medium: 720px;


.instructions {
  width: 30%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);

  @media screen and (max-width: $break-small) {
    display: none;
  }
  @media screen and (max-width: $break-medium) {
    flex: 0 1 auto;
  }
}

.photo-exercice{
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.photo-exercice img{
  max-height: 200px;
  width: 100%;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.photo-exercice-filter{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.photo-exercice h3{
  color: white;
  opacity: 1;
  z-index: 500;
}

.exercice-content {
  display: flex;
}

.exercice-info {
  padding: 15px;
}

.plays-count {
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
  color: $green;
  cursor: default;
}

.no-answer {
  color: black;
  opacity: 0.3;
}

.beginning-story{
  text-align: left;
  margin-bottom: 20px;
  font-weight: 300;
  border-bottom: 0.5px solid rgba(0,0,0,0.05);
  padding-bottom: 15px;
}

.button-exercice{
  text-align: center;
}

.end-story{
  text-align: left;
  margin-top: 20px;
  font-weight: 300;
  border-top: 0.5px solid rgba(0,0,0,0.05);
  padding-top: 15px;
}

.other-answers ul{
  list-style: none;
  padding: 0px;
}

.answers{
  width: 70%;
  flex: 1 0 auto;
}

.user-answer {
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

.answer {
  padding: 25px;
  border: 2px solid lightgray;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background: white;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.answer-infos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 1px solid lightgray;
}

.avatar-hidden {
  color: $orange;
  opacity: 0.7
}

.avatar-username h6 {
  font-weight: 300;
}

.avatar-username {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes-comments {
    color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.likes {
    margin-right: 11px;
    font-size: 14px;
}

.likes a:hover {
  color: $red;
  cursor: pointer;
}

.likes a{
  text-decoration: none;
  color: $light-gray;
}

.liked {
    margin-right: 11px;
}

.liked {
  text-decoration: none;
  color: $red;
  font-size: 14px;
}

.comments{
  font-size: 14px;
}

.comments:hover {
  color: $orange;
  opacity: 0.7;
  cursor: pointer;
}

.show-comments {
  cursor: pointer;
  text-align: center;
  opacity: 0.7;
  margin-top: 20px;
}

.show-comments:hover {
  color: $orange;
}

.hide-comments {
  cursor: pointer;
  text-align: center;
  opacity: 0.7;
  display: none;
  margin-top: 20px;
}

.hide-comments:hover {
  color: $orange;
}

.answer-comments {
  border: 1px solid lightgray;
  font-size: 13px;
  padding: 5px;
  border-radius: 4px;
  display: none;
  overflow-y: scroll;
  max-height: 220px;
}

.comment-content {
  border-bottom: 1px solid lightgray;
  padding: 12px;
}

.comment-content:last-child{
  border-bottom: none;
}

.btn-try {
  font-family: $headers-font;
  padding: 10px;
  color: $orange;
  opacity: 0.3;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}


.btn-done-answer {
  font-family: $headers-font;
  color: $orange;
  opacity: 0.9;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
