.cards {
  flex-grow: 1;
}

$break-small: 770px;
$break-medium: 1100px;

.card, .card-first {

  @media screen and (max-width: $break-small) {
    min-width: 220px;
  }
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  opacity: 1;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.2)
}

.card-banner {
  padding: 10px;
  margin: 10px;
}

.card-first {
  height: 60vh;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  border-radius: 2px;
  margin-bottom: 20px;
}

.card-image-first {
  position: absolute;
  top:0;
  left:0;
  width:50%;
  height:100%;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}

.exo-title {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #c9c9c9;
  position: relative;
  height: 40px;
  width: 100%;
}

.exo-title h5 {
  font-weight: 400;
  display: inline-block;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-bottom: 0px;
  padding-bottom: 15px;
  position: absolute;
  left: 0px;
  bottom: -1px;
}


#exercices-title {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #c9c9c9;
  position: relative;
  height: 75px;
  width: 100%;
}

.card-image {
  position: absolute;
  top:0;
  left:0;
  width:50%;
  height:100%;
  border-radius: 1px;
}

.card-details {
  font-size: 10px;
  color: black;
  position: absolute;
  right:5px;
  padding-left:10px;
  width:50%;
  height:100%;
}

.card-beginning {
  position: absolute;
  top: 10px;
}

.card-end {
  position: absolute;
  bottom: 10px;
}

.card-user {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
