$footer_height: 60px;
$break-small: 500px;

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: $footer_height;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  border-top: solid;
  border-width: thin;
  border-color: rgba(0,0,0,0.3);
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  font-style: italic;
}

#logo-footer {
  font-size: 20px;

  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.footer {

  @media screen and (max-width: $break-small) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

