#form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 22px;
  width: 705px;
  h1 {
    text-align: center;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}

textarea.form-control {
  height: 110px;
}

  #Save-btn {
    width: 100%;
    padding: 10px;
    font-weight: lighter;
    background-color: #464655;
    color: white;
    width: 250px;
  }

  #Save-btn:hover {
    background-color: #ff850f;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

.form-group {
  color: black;
}

input#exercice_photo {
    color: black;
    background-color: white;

}


abbr[title] {
  text-decoration: none;
  border-bottom: none;
}

.verticalLine {
  border-left: thick solid red;
}
